@font-face {
  font-family: 'proxima_nova_condensedbold';
  src: url('../fonts/proximanovacond-bold-webfont.woff2') format('woff2'),
    url('../fonts/proximanovacond-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_condensedregular';
  src: url('../fonts/proximanovacond-reg-webfont.woff2') format('woff2'),
    url('../fonts/proximanovacond-reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.images {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.david {
  height: auto;
  margin-right: 5px;
  width: 50%;
}

.kajsa {
  height: auto;
  margin-left: 5px;
  width: 50%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section a,
.section a:visited {
  color: #222;
  border-bottom: 1px solid #222;
  text-decoration: none;
  white-space: nowrap;
}

.section a:hover {
  border-bottom: 2px solid #222;
}

.content h1,
.content h2 {
  text-align: center;
}

.section {
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  width: 86%;
}

.section h3 {
  font-size: 32px;
  margin-bottom: 40px;
}

#guests h3 {
  color: #a27b38;
}

#info h3 {
  color: #34667b
}

#toastmaster h3 {
  color: #a74f4f
}

.info-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: none;
}

p,
ul li {
  max-width: 720px;
}

.info-list li {
  align-items: center;
  display: flex;
}

.info-list li + li {
  margin-top: 30px;
}

.info-list .icon {
  display: flex;
  justify-content: center;
  width: 50px;
}

.info-list svg {
  margin-right: 10px;
  height: 40px;
}

.faq {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: none;
}

.faq li {
  margin-bottom: 45px;
}

.faq span {
  font-weight: bold;
  margin-bottom: 45px;
}

.intro {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.intro svg {
  width: 86%;
}

@media screen and (min-width: 460px) {
  .main {
    font-size: 1.15em;
  }

  .section h3 {
    font-size: 48px;
  }

  .images {
    width: 90%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 700px) {
  .city-footer {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    flex: 0 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .images {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .david {
    margin-right: 25px;
  }

  .kajsa {
    margin-left: 25px;
  }

  .section {
    padding: 100px 0;
  }

  #intro {
    padding-top: 0;
  }
}
