.header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.links {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.links a {
  color: #222;
  text-decoration: none;
}

.close-button {
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 4px 4px 0 0;
  display: flex;
  left: 0;
  color: #000000a3;
  padding: 5px 21px;
  background: #fbd4d3;
  margin: 0 auto;
  margin-top: -20px;
}

.close-button svg {
  margin-right: 4px;
}
